# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/

# Logs
logs/
*.log
screenshots/
*.key
*.pem
*.env
env/
venv/

# Ignore secrets file patterns
*.secret
secrets.json

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Node
node_modules/
